@model IEnumerable<CarViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center row">
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@car.ImageUrl" alt="Car Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@car.Make</h5>
                <p class="mb-0">Model: @car.Model</p>
                <p class="mb-0">Year: @car.Year</p>
                <p>Type: @car.TypeCar</p>
                <p>Engine: @car.Engine</p>
            </div>

            <form class="input-group-sm" asp-controller="Car" asp-action="AddToCollection" asp-route-carId="@car.Id">
                <input type="submit" value="Rent" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            <form class="input-group-sm" asp-controller="Car" asp-action="MoreInfo" asp-route-carId="@car.Id">
                <input type="submit" value="More Info" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div>