@model IEnumerable<CarViewModel>

@{
    ViewData["Title"] = "Home Page";

}

<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Search by car Make or Model:</label>
        <input type="text" name="SearchString" value=@ViewData["CurrentFilter"]/>
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>

</form>

   <div class="text-center row">
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@car.ImageUrl" alt="Car Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@car.Make @car.Model</h5>
                <p class="mb-0">Year: @car.Year</p>
                <p class="mb-0">Price: @car.Price$</p>
                <p class="mb-0">Type: @car.TypeCar</p>
                <p class="mb-0">Engine: @car.Engine</p>
            </div>
            <h6>(@(car.IsRented ? "Rented" : "Not Rented"))</h6>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                @if (!car.IsRented)
                {
                    
                    <form class="input-group-sm" asp-controller="Car" asp-action="RentCarToCart" asp-route-carId="@car.Id">
                        <input type="submit" value="Rent" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                    
                }
                else
                {
                       <div class="card-body">
                            Rented.
                       </div> 
                }
                    <form class="input-group-sm" asp-controller="Car" asp-action="Delete" asp-route-carId="@car.Id">
                        <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 p-2" />
                    </form> 
                }
            
                    
                    <form class="input-group-sm" asp-controller="Car" asp-action="Details" asp-route-carId="@car.Id">
                        <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                    
        </div>
    }
</div> 

