@model IEnumerable<CarViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Index" method="get">
    <div class="form-group">
        <label for="SearchString">Search by car Make or Model:</label>
        <input type="text" name="SearchString" value=@ViewData["CurrentFilter"]/>
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>

</form>

   <div class="text-center row">
    @foreach (var car in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@car.ImageUrl" alt="Car Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@car.Make @car.Model</h5>
                <p class="mb-0">Year: @car.Year</p>
                <p class="mb-0">Price: @car.Price$</p>
                <p class="mb-0">Type: @car.TypeCar</p>
                <p class="mb-0">Engine: @car.Engine</p>
            </div>

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                @*Must edit the form of rent*@
                <form class="input-group-sm" asp-controller="Car" asp-action="RentCarToCart" asp-route-carId="@car.Id">
                <input type="submit" value="Rent" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
            }
            
            
            <form class="input-group-sm" asp-controller="Car" asp-action="Details" asp-route-carId="@car.Id">
                <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
            </form>
        </div>
    }
</div> 

